/* Videos */

.pictures
{
    margin-top: 80px;
}

.pictures .col-md-2
{
    padding: 0;
}

.bloc-picture-video
{
    margin: 10px;
}

.pictures
{
    width: 65%;
    margin: auto;
}

.picture
{
    width: 160px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.picture:hover
{
    position: relative;
    top: -5px;
}

.modal-content
{
    width: 120%;
    background-color: #222;
}

.modal-header
{
    height: 30px;
    padding-top: 0;
}

.bloc-picture-video h2
{
    font-size: 20px;
}

.bloc-picture-video p
{
    font-size: 14px;
}

.bloc-picture-video
{
    width: 160px;
}

#title-video-modal
{
    font-size: 24px;
}