/* Forgot Password */

.intro-forgot-password
{
    font-size: 20px;
}

.forgot-password a
{
    color: #01ff73;
}

.forgot-password a:hover
{
    color: #fff;
}

.search-bar input[name="q"], .button-space-admin
{
    width: 300px;
}