/* Éléments généraux */

@font-face {
	font-family: 'Briquet';
	src: url('fonts/briquetn.TTF');
}

.bloc-page, .part-space-users
{
    margin-top: 60px;
}

.part-space-users, .title-space-users
{
    color: #01ff73;
}

label
{
    margin-top: 10px;
}

.bold
{
    font-weight: bold;
}

.without-bold
{
    font-weight: normal;
}

.justify
{
    text-align: justify;
}

.align-right
{
    text-align: right;
}

h1
{
    font-size: 70px;
    text-align: center;
}

ul
{
    list-style-type: none;
    text-align: center;
    padding: 0;
}

.white
{
    color: #fff;
}

.green
{
    color: #00b050;
}

.red, .miss-inscription
{
    color: #f00;
}

.yellow
{
    color: #ddbe0e;
}

.payment
{
    margin-top: 10px;
}

.title-page
{
    margin-bottom: 25px;
}

.title-page, .bloc-success, .form-login h2, .form-forgot-password h2
{
    margin-top: 60px;
}

.information-user
{
    font-size: 30px;
    margin-top: 80px;
    margin-bottom: 10px;
}

.grey-text
{
    color: #aaa;
}

a:hover
{
    color: #fff;
}

nav, .picture, .dropdown-menu, .formular-button-link, .button-space-admin
{
    box-shadow: 6px 6px 10px #000;
}

nav a
{
    color: #01ff73;
}

.dropdown-menu
{
    background-color: #00b247;
    font-weight: bold;
    border-radius: 8px;
    border: 0;
    margin: 0;
}

.dropdown-menu a
{
    color: #fff;
    text-decoration: none;
}

.navbar-inverse .navbar-nav>li>a:hover
{
    color: #fff;
}

.nav-link
{
    text-transform: uppercase;
}





.title-video-song, input[type="radio"] + label
{
    color: #ccc;
    font-size: 28px;
}

.grey-white-color
{
    color: #ccc;
}

.miss-inscription
{
    font-size: 18px;
}

.harmonisation
{
    font-size: 20px;
    position: relative;
    bottom: 10px;
}

.animation-text-image
{
    text-align: justify;
}

.gilles-claude, .veronique-francois, .daniel-phil, .diane-dany
{
    display: flex;
    justify-content: center;
}

.claude, .gilles, .veronique, .francois, .daniel, .phil, .diane, .dany
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.claude, .veronique, .daniel, .diane
{
    margin-right: 50px;
}

.gilles, .francois, .phil, .dany
{
    margin-left: 50px;
}

.claude p, .gilles p, .francois p, .veronique p
{
    text-align: justify;
    width: 300px;
}

.musicians
{
    width: 700px;
    margin: auto;
}

.aquarelle img
{
    width: 700px;
    height: auto;
}

.aquarelle-mini
{
    display: none;
}

.aquarelle-mini img
{
    width: 95%;
    height: auto;
}

.row
{
    margin: 0;
}

.row-two-images figure figcaption, .found-user
{
    text-align: center;
    font-size: 24px;
}

.row-two-images img
{
    max-height: 292px;
}

.carousel
{
    display: flex;
}

.carousel_image
{
    text-align: center;
    margin-bottom: 80px;
}

.carousel_prev
{
    margin-right: 5px;
}

.carousel_next
{
    margin-left: 5px;
}

.carousel_prev, .carousel_next
{
    color: rgb(9, 223, 9);
    font-size: 25px;
    cursor: pointer;
    border: 2px solid rgb(9, 223, 9);
    padding: 3px 8px;
    border-radius: 70px;
}

.new_carousel_image
{
    position: relative;
    left: -1260px;
}

.slides
{
    width: 100%;
}

.buttons
{
    position: fixed;
    bottom: 0;
    padding: 5px 0;
    display: flex;
    justify-content: center;
    width: 100%;
    left: 0;
    z-index: 2;
    background-color: #222;
}

.carousel_image img, .new_carousel_image img
{
    width: 60%;
}

.image-animation img
{
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 3px 3px 0px rgb(102, 101, 101);
}

.bloc-holiday h2
{
    margin: 10px 0 18px 0
}

.sub-title-holiday, .caption-shows, .important-points, .validation
{
    font-size: 40px;
}

.text-holiday
{
    width: 1185px;
    margin: auto;
}

.grand-panorama-images
{
    max-width: 1185px;
    margin: auto;
    padding: 25px 0;
}

.grand-panorama-images img
{
    max-width: 395px;
    border: 2px solid #222;
}

.program img
{
    margin: 0;
    width: 100%;
    height: auto;
}

.briquet, .program h2
{
    font-family: 'Briquet', Arial, serif;
}

.program p, .program h2
{
    margin: 10px;
}

.container-fluid
{
    padding: 0;
}

.program-text
{
    margin: auto;
}

.title-free-time
{
    font-size: 50px;
}

.goal .title-right
{
    text-align: right;
}

.goal p
{
    width: 300px;
}

.goal img
{
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.goal .right-img
{
    margin-left: 150px;
}

.goal .left-img
{
    margin-right: 150px;
}

.goal-left-text
{
    position: relative;
    left: 150px;
}

.goal-right-text
{
    position: relative;
    right: 150px;
}

.big-text-program, .text-contact
{
    font-size: 24px;
}

.intro-goals
{
    width: 767px;
}

.detailed-program
{
    font-size: 32px;
}

.pictures
{
    margin-top: 80px;
}

.return-text
{
    position: relative;
    bottom: 15px;
}

.pictures .col-md-2
{
    padding: 0;
}

.modal-content
{
    width: 120%;
}

.bloc-picture-video
{
    margin: 10px;
}

.pictures
{
    width: 65%;
    margin: auto;
}

.picture
{
    width: 160px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.picture:hover
{
    position: relative;
    top: -5px;
}

.songs
{
    margin-top: 70px;
}

.modal-content
{
    background-color: #222;
}

.modal-header
{
    height: 30px;
    padding-top: 0;
}

.bloc-picture-video h2
{
    font-size: 20px;
}

.bloc-picture-video p
{
    font-size: 14px;
}

.bloc-picture-video
{
    width: 160px;
}

#title-video-modal
{
    font-size: 24px;
}

audio
{
    height: 30px;
    color: #222;
}

.group-song
{
    margin: 0 75px;
}

#mapid
{
    height: 600px;
}

.slides
{
    overflow: hidden;
}

.title-contact-formular
{
    font-size: 26px;
}

.bloc-form, .download
{
    width: 470px;
}

.download
{
    margin: 0 34px;
    font-size: 20px;
}

.form-contact form
{
    width: 500px;
}

.contact-link, .download a
{
    color: #fff;
    text-decoration: underline;
}

.contact-link:hover, .download a:hover
{
    color: #01ff73;
}

input, textarea
{
    box-shadow: 4px 4px 8px #000;
}

input[type="radio"]
{
    box-shadow: none;
    margin-right: 20px;
}

label
{
    margin: 0;
}

label, #status, #music_stand, #payment
{
    font-size: 20px;
}

input[type="radio"] + label
{
    font-size: 16px;
}

.big-margin
{
    margin-top: 200px;
}

.alert-success
{
    font-size: 18px;
    background-color: #00b247;
    color: #fff;
}

.formular-button-link, .button-space-admin
{
    background-color: #ddd;
    padding: 1px 6px;
    border-radius: 0.25rem;
}

.formular-button-link:hover, .button-page-comment a:hover
{
    color: #000;
    text-decoration: none;
}

.button-space-admin a
{
    color: #000;
}

.button-space-admin a:hover
{
    text-decoration: none;
}

input[type="submit" i]
{
    border: none;
    border-radius: 0.25rem;
    outline-width: 0; /* Pour Google Chrome */
}

input[type="submit" i]:hover, .connect:hover, .reinit button:hover, .button-space-admin a:hover
{
    color: #00b050;
}

.under-button
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.intro-forgot-password
{
    font-size: 20px;
}

.forgot-password a
{
    color: #01ff73;
}

.forgot-password a:hover
{
    color: #fff;
}

.date-comment
{
    font-size: 20px;
}

.button-page-comment
{
    width: 250px;
}

.button-page-comment a
{
    color: #000;
}

.button-page-comment a:hover, .send-comment:hover
{
    color: #00b247;
}

#comments
{
    padding-top: 70px;
}

.search-bar input[name="q"], .button-space-admin
{
    width: 300px;
}

.button-space-admin
{
    margin: auto;
}

.found-user a
{
    color: #ccc;
    font-size: 16px;
}

@media all and (max-width: 1199px)
{
    .carousel_image img, .new_carousel_image img
    {
        width: 70%;
    }

    .text-holiday
    {
        width: 100%;
        margin: auto;
    }
}

@media all and (max-width: 1172px)
{
    .text-holiday
    {
        width: 675px;
        margin: auto;
    }
}


@media all and (max-width: 991px)
{
    .carousel_image img, .new_carousel_image img
    {
        width: 80%;
    }

    .gilles-claude, .veronique-francois, .daniel-phil, .diane-dany
    {
        flex-direction: column;
    }

    .claude, .veronique, .daniel, .diane
    {
        margin-right: 0;
    }

    .gilles, .francois, .phil, .dany
    {
        margin-left: 0;
    }
    
    .musicians
    {
        width: 300px;
    }
}

@media all and (max-width: 767px)
{
    .carousel_image img, .new_carousel_image img
    {
        width: 90%;
    }

    .aquarelle
    {
        display: none;
    }

    .aquarelle-mini
    {
        display: block;
    }
    
    .aquarelle-mini img, .aquarelle-text
    {
        width: 300px;
        margin: auto;
    }

    .row-two-images img
    {
        width: 100%;
        height: auto;
    }

    .text-holiday
    {
        width: 95%;
        margin: auto;
    }

    .grand-panorama-images img
    {
        width: 100%;
        height: auto;
    }

    .modal-content
    {
        width: 300px;
        margin: auto;
    }

    .modal-content video
    {
        width: 280px;
    }

    .goal p
    {
        width: 95%;
    }

    .intro
    {
        width: 95%;
        font-size: 20px;
    }

    .goal .right-img
    {
        margin-left: 0;
    }

    .goal .left-img
    {
        margin-right: 0;
    }

    .goal-left-text
    {
        position: static;
        left: 150px;
    }

    .goal-right-text
    {
        position: static;
    }

    .form-contact form
    {
        width: 300px;
    }
}

@media all and (min-width: 767px)
{
    .navbar-nav
    {
        width: 95%;
        display: flex;
        justify-content: space-between;
    }

    .dropdown-toggle:hover + .dropdown-menu, .dropdown-menu:hover
    {
        display: block;
        text-align: center;
    }
    
    .images_sounds
    {
        min-width: 90px;
    }

    .inscriptions
    {
        min-width: 120px;
    }
}

.navbar
{
    border: none;
}

#carousel_item .printed_image, #carousel_item .new-img, #carousel_item .printed_image img, #carousel_item .new-img img
{
    width: 90%;
    height: auto;
    text-align: center;
    align-self: center;

}

#bloc_page
{
    margin-top: 50px;
}

#carousel_item
{
    display: flex;
    justify-content: center;
}

@media all and (max-width: 767px)
{
    .fixed-top
    {
        position: static;
    }

    nav, .navbar
    {
        margin: 0;
        padding: 0;
    }

    .navbar
    {
        text-align: center;
    }

    #carousel_item .printed_image, #carousel_item .new-img
    {
        margin-top: 0px;
    }

    .goal .title-right
    {
        text-align: left;
    }

}

@media all and (max-width: 825px)
{
    #carousel_item .printed_image, #carousel_item .new-img, #carousel_item .printed_image img, #carousel_item .new-img img
    {
        width: 84%;
    }
}

@media all and (max-width: 497px)
{
    .bloc-form, .download
    {
        width: 300px;
    }

    .under-button
    {
        flex-direction: column;
        text-align: center;
        width: 200px;
        margin: auto;
    }

    .under-button .delete
    {
        margin-top: 20px;
    }
}