{% extends 'layout.twig' %}

{% block head %}
    <title>Les animateurs</title>
{% endblock %}

{% block content %}
    <div class="container-fluid bloc-holiday">
        <h1 class="green-title title-page text-center briquet">Un Accueil Grandeur Nature</h1>
        <p><img class="img-fluid" src="./public/img/accommodation/chaine_des_puys.png" alt="Panorama sur la chaîne de Puys" /></p>
        <h2 class="green-title text-center briquet">Des Vacances Enchantées !</h2>
        <div class="row row-two-images center-block d-flex flex-row justify-content-center">
            <figure>
                <img class="img-responsive" src="./public/img/accommodation/vue.png" alt="Vue sur le Grand Panorama" />
                <figcaption class="briquet">Village Vacances Le Grand Panorama</figcaption>
            </figure>
            <figure>
                <img class="img-responsive" src="./public/img/accommodation/lac_chambon.png" alt="Vue sur le lac Chambon" />
                <figcaption class="briquet">Au bord du lac Chambon</figcaption>
            </figure>
        </div>
        <p class="text-holiday">Vous allez vivre une semaine inoubliable dans un cadre exceptionnel : Le Grand Panorama, village-vacances situé au bord du lac <span class="uppercase">chambon</span> vous offre des chambres de 1 à 4 lits tout confort (salle de bains, téléphone), une salle de restaurant avec vue sur le lac et une cuisine de qualité. Baignade, VTT, randonnées, tout est fait pour que la semaine chantante soit aussi le meilleur souvenir de vos vacances.</p>
        <div class="grand-panorama-images">
            <div class="row justify-content-center">
                <img class="img-fluid" src="./public/img/accommodation/gp/chalet.png" alt="Le chalet" />
                <img class="img-fluid" src="./public/img/accommodation/gp/panorama.png" alt="Le panorama" />
                <img class="img-fluid" src="./public/img/accommodation/gp/residence.png" alt="La résidence" />
            </div>
            <div class="row justify-content-center">
                <img class="img-fluid" src="./public/img/accommodation/gp/accueil.png" alt="La salle d'accueil" />
                <img class="img-fluid" src="./public/img/accommodation/gp/restaurant.png" alt="La dalle de restaurant" />
                <img class="img-fluid" src="./public/img/accommodation/gp/hall_bas.png" alt="Le hall" />
            </div>
            <div class="row justify-content-center">
                <img class="img-fluid" src="./public/img/accommodation/gp/grande_salle.png" alt="La grande salle" />
                <img class="img-fluid" src="./public/img/accommodation/gp/poly.png" alt=" La salle polyvalente" />
                <img class="img-fluid" src="./public/img/accommodation/gp/chalet.png" alt="La grande salle" />
            </div>
            <div class="row justify-content-center">
                <img class="img-fluid" src="./public/img/accommodation/gp/salle_du_lac.png" alt="La salle du lac" />
                <img class="img-fluid" src="./public/img/accommodation/gp/chambre_panorama.png" alt="Une chambre du panorama" />
                <img class="img-fluid" src="./public/img/accommodation/gp/salle_sancy.png" alt="La salle Sancy" />
            </div>
            <div class="row justify-content-center">
                <img class="img-fluid" src="./public/img/accommodation/gp/chambre_chalet.png" alt="Une chambre du chalet" />
                <img class="img-fluid" src="./public/img/accommodation/gp/chambre_panorama_1.png" alt="Une chambre du panorama" />
                <img class="img-fluid" src="./public/img/accommodation/gp/chambre_panorama_2.png" alt="Une chambre du panorama" />
            </div>
        </div>
    </div>
{% endblock %}