{% extends 'layout.twig' %}

{% block head %}
    <link rel="stylesheet" href="./public/css/special-background.css" />
    <title>Les animateurs</title>
{% endblock %}

{% block content %}
    <h1 class="title-page briquet">Ils vont animer votre semaine</h1>
    <div class="mb-5"><img class="img-fluid" src="./public/img/animation/bandeau_animation.png" alt="L'équipe d'animation" /></div>
    <div class="container-fluid green">
        <div class="gilles-claude">
            <div class="claude">
                <img src="./public/img/animation/begin.png" alt="Claude Bégin, chef de chœur" />
                <p class="animation-text-image"><strong class="white without-bold">Claude <span class="uppercase">Bégin</span></strong> pratique le chant choral depuis 1963. A dirigé de nombreux groupes vocaux. Chef de chœur
 depuis 1982 du groupe Atmosphère, qui a fait pluieurs tournées en France et en Belgique. Successeur de Gilles Breton à la présidence de "Chanson Nouvelle". Animateur de nombreux ateliers lors de rassemblements en France et au Québec.</p>
            </div>

            <div class="gilles">
                <img src="./public/img/animation/gilles.png" alt="Gilles Breton, pianiste" />
                <p class="animation-text-image"><strong class="white without-bold">Gilles <span class="uppercase">Breton</span></strong> pianiste. Formation classique au Québec, aux États-Unis, en Suisse. Harmonisateur et accompagnateur de goupes vocaux depuis plus de 30 ans. Invité de grands rassemblements en France, en Suisse, en Tunisie, au Maroc, au Sénégal. Président-Fondateur de "<span class="uppercase">Chanson nouvelle</span>" et Co-fondateur des "<span class="uppercase">Éditions du temps</span>".
            </div>
        </div>

        <div class="veronique-francois">
            <div class="veronique">
                <img src="./public/img/animation/vero.png" alt="Véronique, chef de chœur du groupe Aquarelle" />
                <p class="animation-text-image"><strong class="white without-bold">Véronique</strong> chef de chœur du groupe Aquarelle, secondera Claude dans la direction du grand chœur et montera les chorégraphies des spectacles.</p>
            </div>

            <div class="francois">
                <img src="./public/img/animation/francois.png" alt="François, organisateur de la semaine chantante" />
                <p class="animation-text-image"><strong class="white without-bold">François</strong> organisateur de la semaine chantante, prend en charge l'intendance de la semaine. Il met en scène les spectacles du grand chœur.</p>
            </div>
        </div>

        <div class="daniel-phil">
            <div class="daniel">
                <img src="./public/img/animation/daniel.png" alt="Daniel, bassiste" />
                <p class="uppercase white"><strong class="without-bold">Daniel</strong></p>
            </div>
            <div class="phil">
                <img src="./public/img/animation/phil.png" alt="Phil, batteur" />
                <p class="uppercase white"><strong class="without-bold">Phil</strong></p>
            </div>
        </div>

        <div class="diane-dany">
            <div class="diane">
                <img src="./public/img/animation/diane.png" alt="Diane, flûtiste" />
                <p class="uppercase white"><strong class="without-bold">Diane</strong</p>
            </div>
            <div class="dany">
                <img src="./public/img/animation/dany.png" alt="Dany, trompettiste" />
                <p class="uppercase white"><strong class="without-bold">Dany</strong></p>
            </div>
        </div>

        <p class="text-justify musicians">Quatre musiciens professionnels québécois, choisis par Gilles. Ils sont rompus à l'accompagnement pour groupes vocaux : Basse, Batterie, Flûte traverière, Trompette... Ils participent au montage des spectacles, à l'ambiance, à la fête permanente.</p>
        <p class="text-center aquarelle"><img src="./public/img/animation/aquarelle.png" alt="Le groupe Aquarelle" /></p>
        <p class="text-center aquarelle-mini"><img src="./public/img/animation/aquarelle-mini.png" alt="Le groupe Aquarelle" /></p>
        <p class="text-center aquarelle-text"><strong class="white without-bold">Aquarelle</strong> est le groupe vocal local qui accueille la semaine chantante.<br />
        Il participera aux spectacles du grand chœur.</p>
    </div>
{% endblock %}