{% extends 'layout.twig' %}

{% block head %}
    <meta name="description" content="Contact : écrivez votre message aux responsables de la Semaine Chantante en Auvergne. Vous obtiendrez réponse dans les 24 heures." />
    <link rel="stylesheet" href="public/css/light-pages.css" />
    <title>Contact - Semaine Chantante en Auvergne</title>
{% endblock %}

{% block content %}
    <div id="bloc-page-light-green">
        <h1 class="title-page briquet">Contact</h1>
        <div class="form-contact mb-5 d-flex flex-column align-items-center" id="bloc_page">
            <form method="post" action="./contact.php" class="d-flex flex-column">
                <label for="surname">Nom</label>
                <input type="text" name="surname" id="surname" class="form-control" required />
                <span id="miss-surname"></span>
                <label for="subject">Objet</label>
                <input type="text" name="subject" class="subject" class="form-control" required />
                <span id="miss-email"></span>
                <label for="email">Email</label>
                <input type="email" name="email" id="email" class="form-control" required />
                <span id="miss-message"></span>
                <label for="message">Message</label>
                <textarea name="message" id="message" class="form-control" rows="4" required></textarea>
                <input type="submit" value="Envoyer" class="submit" class="mt-4 align-self-center" />
            </form>
        </div>
        <div class="text-contact">
            <p class="text-center"><i class="fas fa-phone mr-3 text-center"></i><br />06 07 08 09 10</p>
            <p class="text-center"><i class="fas fa-envelope mr-3 text-center mt-3"></i><br />Semaine Chantante Auvergne - BP 100<br />
            63000 Clermont-Ferrand</p>
        </div>
    </div>
{% endblock %}