{% extends 'layout.twig' %}

{% block head %}
    <link rel="stylesheet" href="public/css/songs-videos-pages.css" />
    <title>Mot de passe oublié</title>
{% endblock %}

{% block content %}
    <div id="bloc-page-light-green">
        <h1 class="title-page briquet">Mot de passe oublié</h1>
        <p class="text-center intro-forgot-password">Saisissez votre email puis votre nouveau mot de passe</p>
        <form method="post" action="?action=forgot-password">
            <div class="bloc-form m-auto">
                {% if error != null %}
                    <div class="alert alert-danger">
                        {{ error }}
                    </div>
                {% endif %}
                <label for="email">Email :</label>
                <input type="email" name="email" id="email" class="form-control" required />
                <label for="new_password" class="mt-4">Nouveau mot de passe :</label>
                <input type="password" name="new_password" id="new_password" class="form-control mb-5" required />
                <div class="text-center reinit"><button type="submit">Réinitialiser</button></div>
            </div>
        </form>
    </div>
{% endblock %}