{% extends 'layout.twig' %}

{% block head %}
    <title>Mot de passe oublié</title>
{% endblock %}

{% block content %}
    <div class="form-forgot-password w-50 m-auto">
        <h2>Mot de passe oublié</h2>
        {% if error != null %}
            <div class="alert alert-danger">
                {{ error }}
            </div>
        {% endif %}
        <p>Saisissez votre email puis votre nouveau mot de passe</p>
        <form method="post" action="?action=forgot-password">
            <label for="email">Email :</label>
            <input type="email" name="email" id="email" class="form-control" required />
            <label for="new_password">Nouveau mot de passe :</label>
            <input type="password" name="new_password" id="new_password" class="form-control" required />
            <button class="btn btn-primary mt-5" type="submit">Réinitialiser</button>
        </form>
    </div>
{% endblock %}