{% extends 'layout.twig' %}
{% import 'float-img.twig' as float %}

{% block head %}
    <title>Les objectifs</title>
{% endblock %}

{% block content %}
    <h1 class="title-page briquet">Les Objectifs</h1>
    <div class="mb-5"><img class="img-fluid" src="./public/img/goals/bandeau_objectifs.png" alt="Les objectifs de la semaine" /></div>
    <p class="intro-goals m-auto">Avant l'organisation de la première semaine chantante en Auvergne, les organisateurs du rassemblement ont défini ce qu'il leur semblait incontournable pour que l'événement soit original et marquant pour les participants.</p>
    <div class="mb-5">
        {{ float.blockImgText("soleil", "Un soleil sur fond bleu", "Une semaine l'été", "Le rassemblement va du dimanche au dimanche, soit huit jours en juillet ou en août.",
        "foule", "Une foule", "100 participants maximum", "Nous ne voulons pas d'un rassemblement \"record\". Le nombre de participants sera volontairement limité à 100, pour éviter le superficiel d'un nombre élevé ou chacun fini par perdre son identité.") }}
        {{ float.blockImgText("groupe_heureux", "Un groupe de choristes heureux", "Pour les choristes", "L'organisation est pensée pour le plaisir des participants et non pour la \"gloire\" d'un ou plusieurs chefs de chœur.",
        "chanson", "Des chanteurs", "La chanson d'aujourd'hui", "Les choristes présents connaissent le répertoire choisi : la chanson française et québécoise. Ce répertoire est défini à l'avance par le chef de chœur invité et les musiciens.") }}
        {{ float.blockImgText("trio", "Un trio de musiciens", "Des musiciens", "Un trio musical est le minimum nécessaire pour l'accompagnement du chœur. La chanson d'aujourd'hui ne se chante pas \"a cappella\".",
        "je_veux_chanter", "Une partition", "Partitions", "Les titres choisis sont découverts par les choristes à l'ouverture de la semaine. Le déchiffrage se fait sur place.") }}
        {{ float.blockImgText("danseurs", "Des danseurs", "Mise en scène", "Nous voulons donner vie aux chansons interprétées et présenter au public des chanteurs plutôt que des choristes au garde-à-vous.",
        "projecteurs", "Des projecteurs de plusieurs couleurs", "Spectacle", "Le produit de la semaine doit être visible et motiver le \"travail\" des participants. Un spectacle sera présenté au public en fin de semaine.") }}
        <div class="goal d-md-flex flex-md-row justify-content-md-center align-items-md-center mt-5 ml-3"><img src="./public/img/goals/banquet.png" alt="Un banquet" class="left-img" /><div class="ml-md-3 mr-md-3 goal-right-text"><h2 class="briquet grey-text">Ambiance</h2><p>Mini-spectacle, veillées animées par nos musiciens, excursions, banquet de fin de séjour et tous les ingrédients à ajouter pour que le séjour soit encore plus convivial.</p></div></div>
    </div>
    <p class="briquet text-center detailed-program grey-text">Forts de ces éléments, nous pouvons passer à un programme plus détaillé...</p>
{% endblock %}