{% extends 'layout.twig' %}

{% block head %}
    <meta name="description" content="La Semaine Chantante en Auvergne est un stage de chant choral organisé par le groupe vocal Aquarelle à l'attention des choristes de tous âges et de tous niveaux. Le stage propose d'apprendre en quelques jours un répertoire de chansons populaires et contemporaines harmonisées à quatre voix mixtes qui sera donné dans un vrai spectacle produit par les stagiaires en fin de semaine." />
    <title>Accueil - Semaine Chantante Auvergne</title>
    <script src="./public/js/Image.js"></script>
    <script src="./public/js/CarouselHome.js">
    </script>
{% endblock %}

{% block content %}
    <body>
        <div id="bloc_page">
            <div id="carousel_item">
                <div class="printed_image">
                    <img src="public/img/1.png" alt="Volcans du département du Puy-de-Dôme" class="image-1" />
                </div>
            </div>
        </div>
    </body>

{% endblock %}