{% extends 'layout.twig' %}

{% block head %}
    <title>Accueil</title>
    <script src="./public/js/Image.js">
        // L'événement DOMContentLoaded permet de ne créer le diaporama qu'une fois que le document HTML a été entièrement chargé.
        document.addEventListener('DOMContentLoaded', function() {
            new CarouselHome(document.createElement("div"));
        });
    </script>
    <script src="./public/js/CarouselHome.js"></script>
{% endblock %}

{% block content %}
    <body>
        <div id="bloc_page">
            <div id="carousel_item">
                <div class="printed_image">
                    <img src="public/img/1.png" alt="Volcans du département du Puy-de-Dôme" class="image-1" />
                </div>
            </div>
        </div>
    </body>

{% endblock %}