{% extends 'layout.twig' %}

{% block head %}
    <link rel="stylesheet" href="public/css/songs-videos-pages.css" />
    <title>Infos pratiques</title>
{% endblock %}

{% block content %}
    <div id="bloc_page">
        <div id="bloc-page-light-green">
            <h1 class="title-page text-center briquet">Semaine Chantante en Auvergne</h1>
            <div class="text-justify col-md-6 m-auto">   
                <p class="text-right">Lac Chambon, avril 2020</p>
                <p>Bonjour !</p>
                <p>Afin de mieux préparer votre accueil, voici les détails de notre organisation.</p>
                <p>Vous serez asttendu(e) au Village de Vacances <span class="text-uppercase">Le Grand Panorama</span>, entre 14h et 16h, le Dimanche 16 Août 2020. A 16h30 précisément, la Semaine Chantante commencera pour se terminer le Dimanche suivant, après le repas de midi.</p>
                <p>Si vous aviez des exigences particulières quant à l'hébergement, merci de nous le faire savoir rapidement si ce n'est déjà fait. Nous essayerons de vous satisfaire dans la mesure de nos possibilités et dans l'ordre des demandes.</p>
                <h2 class="briquet text-center grey-white-color important-points mt-5 mb-5">Quelques points importants</h2>
                <h3 class="briquet grey-white-color">Tenue de scène</h3>
                <p>Nous donnons deux spectacles en fin de semaine. Une tenue de scène harmonieuse pour l'ensemble du groupe est souhaitable. Nous serons donc vêtus de la façon suivante :<br />
                <span class="bold">Moitié Blanc, moitié couleur unie vive</span>.
                Les deux moitiés concernées sont pour une part un chemisier, une chemise, un tee-shirt, etc... et d'autre part pantalon pour les hommes et pour les femmes pantalon, jupe courte ou jupe longue indifféremment.<br />
                L'essentiel est qu'une moitié soit blanche et l'autre de couleur vive et unie. Sont proscrits : le blanc cassé, le beige, l'écru, et les couleurs sombres (le noir, évidemment, mais aussi le bleu marine, le marron...).</p>
                <p>Nous aurons ainsi, sans frais particulier, un ensemble suffisamment cohérent. Merci de respecter cette contrainte et si vous désirez des précisions complémentaires, n'hésitez pas à nous contacter.</p>
                <h3 class="briquet grey-white-color">Apprentissage du répertoire</h3>
                <p>En arrivant, les partitions nécessaires au travail vocal vous seront remises, ainsi qu'un CD audio préparé par Véronique et Gilles <span class="text-uppercase">Breton</span> spécialement pour votre pupitre. Vous y trouverez, avec l'accompagnement musical en arrière-plan, votre partie chantée. <span class="bold">Prévoyez donc un lecteur CD</span>. C'est très efficace pour combler les lacunes du travail en commun si l'on n'est pas lecteur de partitions.</p>
                <h3 class="briquet grey-white-color">Tourisme</h3>
                <p>Quelques sorties guidées vous seront proposées, en voiture ou en car. Il y aura aussi de la <span class="bold">marche à pied</span> pour les amateurs. Que ceux qui ont des envies de randonnée prévoient des <span class="bold">chaussures adéquates</span>.</p>
                <h3 class="briquet grey-white-color">Méthode de "travail"</h3>
                <p>L'emploi du temps de notre semaine est déjà bien établi (et chargé) ! Nous ne perdons cependant pas de vue que la Semaine Chantante, c'est aussi des vacances et chacun pourra suivre son rythme, selon ses possibilités ou ses voeux.</p>
                <p>Notre exigence commune concernera les temps de travail en grand groupe, notre ambition étant de produire en fin de semaine un spectacle de la meilleure qualité possible.</p>
                <p>Pour tous les autres temps (Chorégraphie, tourisme, soirées-détente...) chacun décidera de ce qu'il peut donner... ou recevoir !</p>
                <h3 class="briquet grey-white-color">Nos musiciens</h3>
                <p>Outre Claude <span class="text-uppercase">Bégin</span> et Véronique, nos deux chefs de chœur, nous aurons cinq musiciens à notre service, tous Québécois : Gilles <span class="text-uppercase">Breton</span> au piano, Daniel à la basse, Phil à la batterie, Dany à la trompette et Diane à la flûte traversière. Une bien belle équipe à découvrir !</p>
                <h3 class="briquet grey-white-color">Les spectacles</h3>
                <p>Si vous voulez donner rendez-vous à des amis pour les spectacles de fin de semaine, sachez qu'ils auront lieu :<br :>
                Le vendredi 21 août, à 21h, au "Théâtre de Verdure", superbe espace dans le cadre du jardin Lecoq à <span class="text-uppercase">Clermont-Ferrand</span>.<br />
                Le samedi 22 août, à 21h, Salle du Casino à <span class="text-uppercase">La Bourboule</span>.</p>
                <h3 class="briquet grey-white-color">À bientôt</h3>
                <p>Toute l'équipe de la Semaine Chantante vous salue amicalement et vous dit à très bientôt.
                Au plaisir de nous rencontrer autour de notre passion commune.</p>
                <p>Claude, Gilles, Daniel, Phil, Dany, Diane, Véronique, François.<p>
            </div>
        </div>
    </div>
{% endblock %}