<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name=viewport content="width=device-width, initial-scale=1.0" />
        <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous" />
        <link href="./public/css/styles.css" rel="stylesheet" />
        <link href="./public/css/home-page.css" rel="stylesheet" />
        <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
        {% block head %}{% endblock %}
    </head>

    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <a class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="?action=home">Accueil</a>
                    </li>
                    <li class="nav-item"><a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="#">Projet</a>
                        <div class="dropdown-menu project">
                            <ul>
                                <li><a href="#">Équipe d'animation</a></li>
                                <li><a href="#">Hébergement</a></li>
                                <li><a href="#">Objectifs</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item"><a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="#">Programme</a>
                        <div class="dropdown-menu program">
                            <ul>
                                <li><a href="#">Chant commun</a></li>
                                <li><a href="#">Mise en scène</a></li>
                                <li><a href="#">Temps libre</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item"><a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="#">Images & sons</a>
                        <div class="dropdown-menu images_sounds">
                            <ul>
                                <li><a href="#">Photos</a></li>
                                <li><a href="#">Chansons</a></li>
                                <li><a href="#">Vidéos</a></li>
                                <li><a href="./index.php?action=newspaper">Presse</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item"><a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="#">En savoir plus</a>
                        <div class="dropdown-menu infos">
                            <ul>
                                <li><a href="#">Questions Réponses</a></li>
                                <li><a href="#">Infos pratiques</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item"><a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="#">Membres</a>
                        <div class="dropdown-menu inscriptions">
                            <ul>
                                <li><a href="#">Espace inscrits</a></li>
                                <li><a href="#">Administrateur</a></li>
                                <li><a href="#">S'inscrire</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        {% block content %}{% endblock %}
    </body>
</html>