<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name = viewport content="width=device-width, initial-scale=1.0" />
        <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous" />
        <link href="./public/css/global.css" rel="stylesheet" />
        <link href="./public/css/navbar.css" rel="stylesheet" />
        <link href="./public/css/animation.css" rel="stylesheet" />
        <link href="./public/css/goals.css" rel="stylesheet" />
        <link href="./public/css/holiday.css" rel="stylesheet" />
        <link href="./public/css/program.css" rel="stylesheet" />
        <link href="./public/css/videos.css" rel="stylesheet" />
        <link href="./public/css/songs.css" rel="stylesheet" />
        <link href="./public/css/form-contact.css" rel="stylesheet" />
        <link href="./public/css/carousel-newspaper.css" rel="stylesheet" />
        <link href="./public/css/buttons.css" rel="stylesheet" />
        <link href="./public/css/forgot-password.css" rel="stylesheet" />
        <link href="./public/css/media-queries.css" rel="stylesheet" />
        <link href="./public/css/home-page.css" rel="stylesheet" />
        <link href="./public/css/special-background.css" rel="stylesheet" />
        <link href="./public/css/light-pages.css" rel="stylesheet" />
        <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
        {% block head %}{% endblock %}
    </head>

    <body>
        <nav class="navbar navbar-expand-sm fixed-top bg-dark">
            <ul class="navbar-nav flex-sm-column flex-md-row justify-content-around m-auto">
                <li class="nav-item">
                    <a data-target="#" href="?action=home" class="nav-link">Accueil</a>
                </li>
                <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" data-toggle="dropdown" data-target="#" href="#">Projet</a>
                    <div class="dropdown-menu project text-center">
                        <a class="dropdown-item" href="?action=goals">Objectifs</a>
                        <a class="dropdown-item" href="?action=accommodation">Hébergement</a>
                        <a class="dropdown-item" href="?action=animation">Équipe d'animation</a>
                    </div>
                </li>
                <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" data-toggle="dropdown" data-target="#" href="#">Programme</a>
                    <div class="dropdown-menu program">
                        <ul>
                            <li><a class="dropdown-item" href="?action=communal-song">Chant commun</a></li>
                            <li><a class="dropdown-item" href="?action=staging">Mise en scène</a></li>
                            <li><a class="dropdown-item" href="?action=free-time">Temps libre</a></li>
                            <li><a class="dropdown-item" href="?action=shows">Spectacles</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" data-toggle="dropdown" data-target="#" href="#">Images & sons</a>
                    <div class="dropdown-menu images_sounds">
                        <ul>
                            <li><a class="dropdown-item" href="?action=songs">Chansons</a></li>
                            <li><a class="dropdown-item" href="?action=videos">Vidéos</a></li>
                            <li><a class="dropdown-item" href="?action=newspaper">Presse</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" data-toggle="dropdown" data-target="#" href="#">En savoir plus</a>
                    <div class="dropdown-menu infos">
                        <ul>
                            <li><a class="dropdown-item" href="?action=infos">Infos pratiques</a></li>
                            <li><a class="dropdown-item" href="?action=questions">Questions Réponses</a></li>
                            <li><a class="dropdown-item" href="?action=contact">Contact</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" data-toggle="dropdown" data-target="#" href="#">Membres</a>
                    <div class="dropdown-menu inscriptions">
                        <ul>
                            <li><a class="dropdown-item" href="?action=registration">S'inscrire</a></li>
                            <li><a class="dropdown-item" href="?action=login-user">Espace inscrits</a></li>
                            {% if (isAuthenticatedUser() or isAuthenticatedAdmin()) %}
                                <li><a class="dropdown-item" href="logout.php">Se déconnecter</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
        {% block content %}{% endblock %}
    </body>
</html>