{% extends 'layout.twig' %}

{% block head %}
    <link rel="stylesheet" href="public/css/songs-videos-pages.css" />
    <title>Se connecter</title>
{% endblock %}

{% block content %}
    <div id="bloc-page-light-green">
        <h1 class="title-page text-center briquet">Connexion</h1>
        <form method="post" action="#">
            <div class="bloc-form m-auto">
                {% if error != null %}
                    <div class="alert alert-danger">
                        {{ error }}
                    </div>
                {% endif %}
                <label for="email">Email :</label>
                <input type="email" name="email" id="email" class="form-control" required />
                <label for="password" class="mt-4">Mot de passe :</label>
                <input type="password" name="password" id="password" class="form-control mb-5" required />
                <div class="text-center"><button class="connect" type="submit">Se connecter</button></div>
                <p class="text-center mt-4 forgot-password"><a href="?action=forgot-password">Mot de passe oublié ?</a></p>
            </div>
        </form>
    </div>
{% endblock %}