{% extends 'layout.twig' %}

{% block content %}
    <div class="form-login w-50 m-auto">
        <h2>Connexion</h2>
        {% if error != null %}
            <div class="alert alert-danger">
                {{ error }}
            </div>
        {% endif %}
        <form method="post" action="#">
            <label for="password">Mot de passe :</label>
            <input type="password" name="password" id="password" class="form-control" required />
            <button class="btn btn-primary mt-5" type="submit">Se connecter</button>
        </form>
    </div>
{% endblock %}