{% extends 'layout.twig' %}

{% block head %}
    <title>Presse</title>
    <script src="./public/js/Image.js"></script>
    <script src="./public/js/CarouselHome.js"></script>
    <script src="./public/js/CarouselNewspaper.js"></script>
{% endblock %}

{% block content %}
    <div class="carousel container-fluid">
        <div class="carousel_image">
            <p>Bonjour les gars</p>
            <img src="./public/img/presse/001.png" alt='Article de presse intitulé \"Cent fous chantants au théâtre\"' class="image_1" />
        </div>
    </div>
{% endblock %}