{% extends 'layout.twig' %}

{% block head %}
    <meta name="description" content="Revue de presse : sélection d'articles de dix années de Semaine Chantante en Auvergne." />
    <title>Presse</title>
    <link rel="stylesheet" href="public/css/songs-videos-pages.css" />
    <script src="./public/js/Image.js"></script>
    <script src="./public/js/CarouselHome.js"></script>
    <script src="./public/js/CarouselNewspaper.js"></script>
{% endblock %}

{% block content %}
    <div class="carousel container-fluid mt-5">
        <div class="carousel_image">
            <img src="./public/img/presse/001.png" alt='Article de presse intitulé \"Cent fous chantants au théâtre\"' class="image_1" />
        </div>
    </div>
{% endblock %}