{% macro blockSong(title, paragraph, nameSrcSong) %}
    <div class="bloc-song">
        <h2 class="title-video-song">{{ title }}</h2>
        <audio id="{{ nameSrcSong }}" src="./public/songs/{{ nameSrcSong }}.mp3" controls></audio>
        <p>{{ paragraph }}</p>
    </div>
{% endmacro %}