{% extends 'layout.twig' %}

{% block head %}
    <title>Test</title>
{% endblock %}

{% block content %}
    <p>
        <form method="post" action="index.php?action=listusers">
            Rechercher : <input type="text" name="q" required />
            <input type="submit" value="Rechercher" />
        </form>
    </p>
    </p>
        <a href="index.php?action=export">Exporter les données</a>
    <p>
    {% for data in users.fetch() %}
        
        <a href="index.php?action=acceptuser">Accepter</a>
        <a href="index.php?action=updateuser">Modifier</a>
        <a href="index.php?action=deleteuser">Supprimer</a>
    {% endfor %}
{% endblock %}