{% extends 'layout.twig' %}

{% block head %}
    <title>S'inscrire</title>
{% endblock %}

{% block content %}
    <div class="container-fluid bloc-success big-margin">
        <div class="alert alert-success successRegistration w-75 m-auto text-center">
            <p>Votre mot de passe a bien été modifié !</p>
        </div>
    </div>   
{% endblock %}